<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{tittle}}</title>

    <link rel="shortcut icon" href="img/logoI.ico" />

    <!--Links para el Slide-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />

    <!--Links para los efectos del Hover-->
    <link rel="stylesheet" href="css/hover.css">

    <!--Links para los iconos-->
    <link rel="stylesheet" href="css/fontawesome-all.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="img/logo01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>
            <div class="enlaces" id="enlaces">
                <a class="home hvr-underline-from-left" href="/">Home</a>
                <a class="how hvr-underline-from-left" href="/how">How I Am</a>
                <a class="book hvr-underline-from-left" href="/book">Books</a>
                <a class="contact hvr-underline-from-left" href="/reco">Recommended</a>
                <a class="contact hvr-underline-from-left" href="/contact">Contact Me</a>
                <a class="tienda hvr-underline-from-left" href="/checkout">
                    <div>
                        <img src="img/shopping-cart.png" width="26px" alt="" class="shopping-cart">
                        <span class="carrito rose">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>

    <footer class="footerspec">
        <div class="cont-social">
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f social"></i>
            </a>
            <a href="#">
                <i id="social-tw" class="fab fa-twitter social"></i>
            </a>
            <a href="#">
                <i id="social-gp" class="fab fa-google-plus-g social"></i>
            </a>
            <a href="#">
                <i id="social-em" class="fas fa-envelope social"></i>
            </a>
        </div>
    </footer>

    <script src="js/jquery-3.3.1.js"></script>
    <!--JS de Menu-->
    <script src="js/headroom.js"></script>
    <script src="js/menu.js"></script>
</body>

</html>