@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
$white: #FFF;
$black: #000;
$slide: #efd2ca;
$red: #ff0000;
$rose: #EF6F7F;
$model: #fcf4e8;
$blue: #3e8edd;
$gray: #ebe9e9;
$graydark: #cecece;
$graytext: #4b5f5a;