@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
* {
  font-family: "Nunito", sans-serif;
}

p {
  font-size: 18px;
  margin-bottom: 1em;
}

.otracosa {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.otracosa .cont-img-aut {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  width: 35%;
  padding-right: 8%;
}

.otracosa .cont-img-aut .img {
  width: 100%;
}

.otracosa .cont-desc-aut {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60%;
}

.otracosa .cont-desc-aut .cont-dos-desc-aut {
  width: 60%;
}

.otracosa .cont-desc-aut .cont-dos-desc-aut .til {
  width: 100%;
  color: #EF6F7F;
  text-align: center;
  font-size: 30px;
  padding: 5% 0 10% 0;
  font-weight: 700;
}

.otracosa .cont-desc-aut .cont-dos-desc-aut p {
  text-align: right;
  width: 100%;
  line-height: 16pt;
  padding-bottom: 10%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.container .cont-comen {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container .cont-comen .comentario {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container .cont-comen .comentario .desc-comen {
  padding: 0 8%;
  font-size: 18px;
  line-height: 20pt;
  color: #4f4f4f;
  text-align: center;
}

.container .cont-comen .comentario #myName {
  width: 90%;
  height: 40px;
  margin: 5% 0;
  padding-left: 3%;
}

.container .cont-comen .comentario .comen {
  width: 90%;
  height: 300px;
  margin-bottom: 5%;
  padding: 3% 0 0 3%;
}

.container .cont-comen .comentario .cont-button-subir {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.interaction {
  background: #cecece;
  width: 100%;
}

@font-face {
  font-family: 'arrows';
  src: url("../fonts/arrows/arrows.eot");
  src: url("../fonts/arrows/arrows.eot?#iefix") format("embedded-opentype"), url("../fonts/arrows/arrows.woff") format("woff"), url("../fonts/arrows/arrows.ttf") format("truetype"), url("../fonts/arrows/arrows.svg#arrows") format("svg");
  font-weight: normal;
  font-style: normal;
}

.bb-custom-wrapper {
  width: 100%;
  height: 603px;
  margin: 5em 1em 5em 1px;
}

.bb-custom-wrapper .bb-bookblock {
  width: 75%;
  height: 100%;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.bb-custom-side {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  background: #fff8eb;
  background-size: cover;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 5%;
}

.bb-custom-side h1 {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #EF6F7F;
}

.bb-custom-side p {
  font-size: 16px;
  text-align: center;
  line-height: 16pt;
}

.bb-custom-side .fondoLib {
  width: 100%;
}

.bb-custom-firstpage {
  text-align: center;
  padding-top: 15%;
  width: 50%;
  background: #cecece;
  float: left;
  height: 100%;
}

/*
.bb-custom-side p {
	padding: 8%;
	font-size: 1.8em;
	font-weight: 300;
} */
.bb-custom-wrapper h3 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0.4em 0 1em;
}

.bb-custom-wrapper > nav {
  width: 100%;
  height: 40px;
  margin: 1em auto 0;
  position: relative;
  z-index: 1000;
  text-align: center;
}

.bb-custom-wrapper > nav a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
  background: #1baede;
  color: #fff;
  font-size: 0;
  margin: 2px;
}

.bb-custom-wrapper > nav a:hover {
  opacity: 0.6;
}

.bb-custom-icon:before {
  font-family: 'arrows';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;
  line-height: 40px;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
  content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
  content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
  height: auto;
}

.no-js .bb-custom-content {
  height: 470px;
}

@media screen and (max-width: 61.75em) {
  .bb-custom-side {
    font-size: 70%;
  }
}

@media screen and (max-width: 33em) {
  .bb-custom-side {
    font-size: 60%;
  }
}
/*# sourceMappingURL=how.css.map */